################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/LLVolunteer-IdentityApi/.vs/LLVolunteer-IdentityApi/v16
/LLVolunteer-IdentityApi/*/bin
/LLVolunteer-IdentityApi/*/obj
/LLVolunteer-IdentityApi/.vs
/LLVolunteer-IdentityApi/*/*/obj
/LLVolunteer-IdentityApi/*/*/bin
/LLVolunteer-IdentityApi/*/*/*/obj
/LLVolunteer-IdentityApi/*/*/*/bin
/.vs
/LLVolunteer-IdentityApi/Skoruba.IdentityServer4.STS.Identity/.vs
/LLVolunteer-IdentityApi/Skoruba.IdentityServer4.STS.Identity/Migrations
/LLVolunteer-IdentityApi/Skoruba.IdentityServer4.STS.Identity/Data/Migrations
